@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}
#parentContainer{
  position: relative;
  bottom: 0;
  width: 100%;
  background-color:rgb(249,246,229);
  display: flex;
  justify-content: space-evenly;
 

}
.sectionOne{
  width: 15%;
  margin-top:50px;
}
.sectionTwo,.sectionThree,.sectionFour,.sectionFive{
  margin-top: 20px;
  margin-bottom: 80px;
}
.image{
  height: 206px;
  width:225px;
  margin-bottom: 10px;
  margin-top: -33px;
  
}
.sectionTwo,.sectionThree{
  display: flex;
  flex-direction: column;
  gap:15px;
}
.NavLink{
  text-decoration: none;
  color:rgb(105, 99, 99);
}
.sectionFive{
  width: 17%;

}
.sectionFour{
  width: 20%;
}
.sectionFour p{
  margin-bottom: 30px;
  text-align: justify;
}
.sectionFour p{
  margin-bottom: 6px;
  color:rgb(105, 99, 99);
}
.NavLink:hover{
  text-decoration: underline black;
}