#Pagination{
  display: flex;
  justify-content: center;
  margin-top:20px;
  gap:5px;
  width: 102%;
  margin-bottom: 50px;
  
}
#Pagination button{
  border: none;
  height: 40px;
  width: 57px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  cursor:pointer;
  text-align: center;
  font-size: 30px;

  background-color: white;
}