
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#PlantParent {
  width: 87%;
  margin: auto;
  margin-top: 30px;
}

.PlantsHeading {
  font-size: 40px;
  font-weight: 1000;
  margin-top: 30px;
  line-height: 1.3;
  color: #222;
}

#childContainerPlants {
  width: 100%;
  margin: auto;
  margin-top: 45px;
  display: flex;
  gap: 20px;
}

.leftChildSection {
  width: 20%;
}

.rightChildSection {
  width: 80%;
}

.SortView {
  display: flex;
  justify-content: space-between;
}

.PlantContainer {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.PlantCard {
  height: fit-content;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 20px;
}

.PlantCard img {
  width: 100%;
  height: 200px;
}

.PlantCard h5,
.PlantCard h3 {
  color: grey;
}

.PlantCard h5 {
  text-decoration: line-through;
}

.PlantCard h3 {
  color: rgb(77, 169, 71);
}

.PlantCard p {
  font-size: 17px;
  height: 70px;
}

.ButtonBox {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.QuickShop,
.CartButton {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 6px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.QuickShop {
  color: rgb(44, 188, 99);
  background-color: white;
}

.CartButton {
  color: black;
  background-color: rgb(255, 171, 65);
}

.PriceValue {
  display: flex;
  gap: 10px;
}

.FiltersHead {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 20px;
}

.FilterChild {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 20px;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  margin-top: 27px;
  margin-right: 100px;
}

.price_range_values {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 40px;
}

.price_range_values button {
  background-color: white;
  color: black;
  height: 55px;
  border: 1px solid black;
  outline: none;
}

.StockBox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.StockBox input[type="checkbox"] {
  margin-right: 8px;
  cursor: pointer;
}

.StockBox label {
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.posterFilter img {
  height: 300px;
  width: 231px;
  border-radius: 0px 0px 10px 10px;
  margin: auto;
  margin-top: 50px;
}