.privacy-policy {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: justify;
    padding: 20px;
    /* Adjust padding for spacing */
    margin: 20px auto;
    /* Center the block */
    max-width: 800px;
    /* Set a maximum width for better readability */
}

.privacy-policy p {
    margin-bottom: 10px;
}

.privacy-policy strong {
    font-weight: bold;
}

.privacy-policy em {
    font-style: italic;
}