.ParentProfile {
  width: 100%;
  max-width: 600px; /* Adjust max-width as needed */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
  background-color: #fff;
  position: relative;
  z-index: 100;
}
.GParentProfile{
  position: relative;
  width: 100%;
  padding: 100px;
  height: 600px;
}
.GParentProfile::before {
  content: "";
  background-image: url('../../Images/ProfileBG.jpeg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(0px); /* Adjust the blur radius as needed */
}


.ParentProfile h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.ParentProfile p {
  margin: 5px 0;
  font-size: 16px;
}

/* Adjust styling for loading message */
.ParentProfile p.loading {
  font-style: italic;
  color: #666;
}

/* Adjust styling for error message */
.ParentProfile p.error {
  color: red;
}